#canvas-holder {
  display: inline-block;
  width: 700px;
}

#guess-box-holder {
  vertical-align: top;
  display: inline-block;
  width: calc(99% - 700px);
  height: 696px;
}

#chat-box-holder {
  padding-top: 20px;
  vertical-align: top;
}

#header-holder {
  background-color: gray;
  color: white;
  margin-bottom: 20px;
  /*
  height: 50px;

  background-color: gray;
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  */
}

#header-text {
  font-family: arial;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}

#content {
  padding: 15px;
}