<div id="canvas-container">
  <canvas id="drawingCanvas" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" (mouseleave)="mouseLeave($event)" height=700 width=700></canvas>
</div>
<div id="helper-controls-container">
  <div class="button-container"><div class="button" [class.isSelected]="drawingBrush.brushType == 0" (click)="setBrush(0)">Pencil</div></div>
  <div class="button-container"><div class="button" [class.isSelected]="drawingBrush.brushType == 1" (click)="setBrush(1)">Fill</div></div>
  <div class="button-container"><div class="button" [class.isSelected]="drawingBrush.brushType == 2" (click)="setBrush(2)">Eraser</div></div>
  <div class="button-container"><div class="button-clear" (click)="clearCanvas()">Clear Canvas</div></div>
  <input [(colorPicker)]="color" [style.background]="color"/>
</div>