<div id="message-wrapper">
  <div id="message-container" #scrollMe (mousedown)="mouseDownCurrentMessages($event)" (mouseup)="mouseUpCurrentMessages($event)">
    <div class="message" *ngFor="let curMessage of guessMessagesService.messageList">
      {{curMessage.username}}: {{curMessage.message}}
    </div>
  </div>
  <div id="guess-wrapper">
    <div id="guess-container">
      <input id="guess-input" type="text" (keydown)="keyDown($event)" [(ngModel)]="currentGuess">
    </div>
  </div>
</div>


